@import "bootstrap";

$background-color-primary  : #15181a;
$background-color-secondary: #252a2d;

$foreground-color-primary  : #d1e4ff;
$foreground-color-secondary: #919191;

$accent-color-red       : #d4252c;
$accent-color-orange    : #f4830c;
$accent-color-yellow    : #ffa500;
$accent-color-blue      : #40879d;
$accent-color-brightblue: #98ddf0;

$text-color-light: $foreground-color-primary;

$navbar-top-height   : 3rem;
$navbar-bottom-height: 3rem;

$margin-default: 10rem;

$graph_link_stroke_default: #999;

$graph_node_fill_default  : #fff;
$graph_node_stroke_default: #000;

// Pods
$graph_node_fill_pod: #3f33ff;

// Services
$graph_node_fill_service: #68686f;

$node-class-fill-map: ("alert": #cc241d,
    "cluster": #326de6,
    "config_map": #7c6f64,
    "daemon_set": #d65c0d,
    "deployment": #458588,
    "endpoints": #076678,
    "horizontal_pod_autoscaler": #006400,
    "ingress": #f2e5bc,
    "node": #928374,
    "persistent_volume": #689d6a,
    "persistent_volume_claim": #427b58,
    "pod": #d79921,
    "replica_set": #b57614,
    "secret": #282828,
    "service": #8f3f71,
    "stateful_set": #98971a,
    "storage_class": #b16286,
)
