@import "../assets/_variables.scss";

.bottom-navbar {
    height: $navbar-bottom-height;
}

.selector-container {
    @extend .navbar-element;
}

.react-select__control {
    min-width       : 14rem;
    background-color: $foreground-color-secondary !important;
    border          : 1px solid $background-color-primary !important;
    border-radius   : 0 !important;
}

.react-select__control--is-focused {
    border    : 1px solid $accent-color-yellow !important;
    box-shadow: 0 0 0 1px $accent-color-yellow !important;
}

.react-select__value-container {
    background-color: $background-color-primary !important;
    border-radius   : 0 !important;
}

.react-select__placeholder {
    color: $foreground-color-secondary !important;
}

.react-select__input {
    color: $foreground-color-secondary !important;
}

.react-select__single-value,
.react-select__value-container--has-value {
    color: $foreground-color-primary !important;
}

.react-select__menu {
    background-color: $background-color-primary !important;
    border          : 1px solid $background-color-primary !important;
    border-radius   : 0 !important;
    padding-top     : 0 !important;
    color           : $foreground-color-secondary !important;
}

.react-select__indicator {
    margin-left     : 1px;
    background-color: $background-color-secondary !important;
}

.react-select__indicator-separator {
    display: none;
}

.react-select__option:hover {
    color           : $background-color-primary;
    background-color: $foreground-color-secondary;
}

.react-select__option--is-selected {
    color           : red $background-color-primary !important;
    background-color: $accent-color-yellow !important;
}

.date-picker-container {
    @extend .navbar-element;
}

.refresh {
    color       : $foreground-color-secondary;
    margin-right: 1rem;
    cursor      : pointer;
}

.refresh-icon:hover {
    color: $foreground-color-primary;
}

.date-picker {
    @extend .react-select__value-container;
    border: 1px solid $background-color-primary !important;
    height: $navbar-element-height;
}

input.date-picker {
    @extend .react-select__input;
    color  : $foreground-color-primary !important;
    padding: 2px 8px;
}

input.date-picker:focus {
    @extend .react-select__control--is-focused;
}

$date-picker-border-color: $background-color-secondary;

.react-datepicker {
    background-color: $background-color-secondary;
    color           : $foreground-color-secondary;
    border: 1px solid $date-picker-border-color;
    border-radius   : 0 !important;
}

.react-datepicker__time-container .react-datepicker__time {
    background-color: $background-color-secondary !important;
    color           : $foreground-color-secondary !important;
}

.react-datepicker__time-box {
    border-right: 1px solid $date-picker-border-color;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    height: 100%;
}

.react-datepicker__time-list {
    -ms-overflow-style: none;
    scrollbar-width   : none;
}

.react-datepicker__time-box::-webkit-scrollbar {
    display: none;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    color:            $foreground-color-primary;
    background-color: $background-color-primary;
    border-color    : $date-picker-border-color;
    border-radius   : 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: $accent-color-yellow;
    color:            $background-color-primary;
}

.react-datepicker__time-container {
    border-left-color: $date-picker-border-color !important;
}

.react-datepicker__header {
    background-color: $background-color-primary;
    color           : $foreground-color-primary;
    border-color    : $date-picker-border-color;
    border-radius   : 0;
}

.react-datepicker__day-name {
    color: $foreground-color-secondary;
}

.react-datepicker__day {
    color: $foreground-color-primary;
}

.react-datepicker__day:hover {
    color           : $background-color-primary;
    background-color: $foreground-color-secondary;
}

.react-datepicker__day--disabled {
    color: $foreground-color-secondary;
}

.react-datepicker__day--selected {
    background-color: $accent-color-yellow;
    color: $background-color-primary;
}

.react-datepicker__day--keyboard-selected {
    background-color: $accent-color-brightblue;
    color: $background-color-primary;
}

.react-datepicker__day--selected:hover {
    background-color: $accent-color-orange;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: $foreground-color-primary
}

.react-datepicker__navigation--next {
    margin-right: 15px;
}

#namespace-selector-container {
    width: 14rem;
}

#object-selector-contaier {
    width: 28rem;
}
