@import "../assets/_variables.scss";

svg.graph {
    position: absolute;
    top     : 0;
    left    : 0;
    z-index : 5;
    background: $background-color-primary
}

line.link {
    stroke      : $graph_link_stroke_default;
    stroke-width: 1;
}

line.fault {
    stroke: $accent-color-red;
    stroke-width: 2;
}

text.node-label.mouse-over {
    fill: $background-color-primary;
}

@each $node-class,
$node-fill in $node-class-fill-map {
    circle.#{$node-class} {
        fill        : $node-fill;
        stroke      : lighten($node-fill, 30%);
        stroke-width: 1;
    }

    circle.fault {
        stroke: $accent-color-red;
        stroke-width: 2;
    }

    text.node-icon.#{$node-class} {
        cursor: pointer;
        stroke: lighten($node-fill, 50%);
        fill  : darken($node-fill, 10%);
    }
}

rect.node-label-background {
    fill        : $foreground-color-secondary;
    fill-opacity : 0.9;
}

text.node-label.mouse-over {
    fill: $background-color-primary;
}

text.node-icon.alert {
    animation: blink 0.8s infinite;
}

text.node-label {
    fill: $foreground-color-secondary;
    cursor: pointer;
}



g.node-group.clicked {
    filter: brightness(130%);
}

.stats {
    float       : right;
    margin-right: 1rem;
    margin-top  : 1rem;
    z-index     : 1030;
    position    : relative;
}

@keyframes blink {

    100%,
    0% {
        fill: #500;
    }

    60% {
        fill: #f00;
    }
}
