@import "_variables.scss";

svg.graph {
    position: absolute;
    top     : 0;
    left    : 0;
    z-index : 5;
}

g.link {
    stroke: $graph_link_stroke_default;
}

g.graph-node {
    fill        : $graph_node_fill_default;
    stroke      : $graph_node_stroke_default;
    stroke-width: 2;
}

@each $node-class,
$node-fill in $node-class-fill-map {
    circle.#{$node-class} {
        fill  : $node-fill;
        stroke: darken($node-fill, 30%);
    }
}

circle.graph-node.clicked {
    filter: brightness(130%);
}

