@import "_variables.scss";

g.link {
    stroke: $graph_link_stroke_default;
}

g.graph-node {
    fill        : $graph_node_fill_default;
    stroke      : $graph_node_stroke_default;
    stroke-width: 1.5;
}

circle.pod {
    fill: $graph_node_fill_pod;
}

circle.service {
    fill: $graph_node_fill_service;
}

circle.graph-node.clicked {
    filter: brightness(130%);
}