g.link {
    stroke        : #999;
}

g.graph-node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5;
}

circle.pod {

    fill: #3f33ff;
}

circle.service {
    fill: #68686f;
}

circle.graph-node.clicked {
    fill: red;
    filter: brightness(130%);
}