@import "_variables.scss";


.card.node-info-card {
    width     : 23rem;
    z-index   : 1030;
    position  : relative;
    opacity   : 0.9;
    transition: visibility opacity 500ms linear;
    margin    : 2rem 0 0 2rem;
    float: left;
    background: $background-color-secondary;
    color: $text-color-light;
}

.card.node-info-card:hover {
    opacity: 1;
}

.card .card-title {
    text-align: center;
    color: $text-color-light;
}

.card .card-subtitle {
    text-align: center;
    color: $text-color-light;
    text-transform: capitalize;
}

.card .node-info-text table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 8px;
}

.card .node-info-text span{
    color: #d1e4ff !important;
}

.card button.close {
    margin    : 1rem;
    text-align: right;
    color: #d1e4ff;
}
